:root { 
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.midx {

    top: 50%;
transform: translateY(-50%);
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
    height: 64px;
    background-color: gray;
    position: relative;
    margin: 0;
    
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.container > img {
    width: 60px;
    height: 24px;
position: absolute;
/* left: 30px; */



}

.links > ul {
    margin: 0;
    padding: 0;
    display: none;
    width: 200px;
    position: absolute;
    top : 100%;
    right: 40px;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;

    
        list-style-type: none;
}
.links > ul > li {
    padding: 15px 15px 15px 20px;

    transition: 0.3s;

    
}
.links > ul > li:hover {
    padding-left: 25px  ;
}
.links > ul > li:not(:last-child) {
  border-bottom: 1px solid gray;
}
.links > ul > li > a {
    color : #333;
    text-decoration: none;
    
/* padding: 15px; */
}

 .icon > span {
    width: 30px;
    height: 2px;
    margin: 0 0 5px;
    background-color: black;
    /* position: absolute; */
    /* right: 10px;
    bottom: 10px; */
    
}
.icon {
    position: absolute;
    right: 40px;
    width: 30px;
    height: 21px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
}
.icon >span:nth-of-type(2) {
    width: 18px;
    
}
/* @keyframes links {
 
    100% {
width: 30px;
         }
} */
.icon > span {
    transition: width 0.3s ease;
}
.icon:hover > span  {
    width: 30px;
}
.icon:hover ~ ul,
.links > ul:hover
,.links > ul::before 
   {
    display: flex;

}
ul::before {
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 10px solid #ddd;
    border-top: 10px solid  transparent;
    border-right: 10px solid transparent;
   border-left: 10px solid transparent;  
    position: absolute;
    top: -20px;
    right: 3px;
    z-index: 3;
}

.landing {
   background-image: url("../images/landing.jpg");
   background-size: cover;
   height: calc(-64px + 100vh);
   width: auto;
}
.landing > h1 {
    margin : 0;
    color: var(--main-color);
    position-ab
}