:root { 
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

.midx {

    top: 50%;
transform: translateY(-50%);
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
    height: 64px;
    background-color: gray;
    position: relative;
    margin: 0;
    
}
header > img {
    width: 60px;
    height: 24px;
position: absolute;
left: 30px;


}
.links > ul {
    margin: 0;
    padding: 0;
    display: none;
    min-width: 200px;
    position: absolute;
    top : 100%;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;
    right: 40px;
        list-style-type: none;
}
.links > ul > li {
    padding: 15px 15px 15px 20px;
    max-width: 200px;
    
    border-bottom: 1px solid gray;
    
}
.links > ul > li > a {
    color : black;
    text-decoration: none;
padding-left: 20px;
}
 .icon > span {
    width: 30px;
    height: 2px;
    margin: 0 0 5px;
    background-color: black;
    /* position: absolute; */
    /* right: 10px;
    bottom: 10px; */

    
}
.icon {
    position: absolute;
    right: 40px;
    width: 30px;
    height: 21px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
}
.icon >span:nth-of-type(2) {
    width: 18px;
    
}
/* @keyframes links {
 
    100% {
width: 30px;
         }
} */
.icon > span {
    transition: width 0.5s ease;
}
.icon:hover > span  {
    width: 30px;
}
.icon:hover ~ ul  {
    display: flex;
    background-color: whitesmoke;
    
    
}
ul::before {
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 10px solid #ddd;
    border-top: 10px solid  transparent;
    border-right: 10px solid transparent;
   border-left: 10px solid transparent;  
    position: absolute;
    top: -20px;
    right: 3px;
    z-index: 3;
}

section {
   background-image: url("../images/landing.jpg");
   background-size: cover;
   height: calc(-64px + 100vh);
   width: auto;
}
section > h1 {
    color: var(--main-color);
    position: absolute;
}